<h1>Listing ratings</h1>

<table>
  <thead>
    <tr>
      <th>Stars</th>
      <th>Comment</th>
      <th>Updated_at</th>
      <th>C_id</th>
      <th>U_id</th>
      <th>Location</th>
      <th>Campsite Name</th>
      <th>Lat</th>
      <th>Long</th>
    </tr>
  </thead>

  <tbody>
    <% @ratings.each do |rating| %>
      <tr>
        <td><%= rating.stars %></td>
        <td><%= rating.comment %></td>
        <td><%= rating.updated_at %></td>
        <!-- TODO: re-write with .includes() -->
        <td><%= rating.campsite.id %></td>
        <td><%= rating.user.id %></td>
        <td><%= rating.campsite.location %></td>
        <td><%= link_to rating.campsite.name, rating_path(rating) %></td>
        <td><%= rating.campsite.latitude %></td>
        <td><%= rating.campsite.longitude %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rating', new_rating_path %>
