<p id="notice"><%= notice %></p>

<div class="row">
  <div class="small-6 columns">
    <h2 class="subheader"><%= @campsite.name %></h2>
    <p><%= @campsite.description %></p>
    <%= render 'ratings/form' %>
  </div>
  <div class="small-6 columns">
    <h2 class="subheader"></h2>
       <div id="map" style='width: 500px; height: 500px;'></div>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <%= render 'ratings_table' %>
  </div>
</div>
<%= content_for :gmaps_script do %>
  <script type='text/javascript'>
    handler = Gmaps.build('Google');
    handler.buildMap(
      {provider: {}, internal: {id: 'map'}},
      function(){
        markers = handler.addMarkers(<%=raw @map_marker_hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      }
    );
  </script>
<% end %>
