<p id="notice"><%= notice %></p>

<div class="row">
  <div class="small-6 columns">
    <h2 class="subheader"><%= @campsite.name %></h2>
    <p><%= @campsite.description %></p>

  </div>
  <div class="small-6 columns">
    <h2 class="subheader">Map Goes Here</h2>
       <div id="map" style='width: 800px; height: 400px;'></div>
  </div>
</div>

<%= link_to 'Edit', edit_campsite_path(@campsite) %> |
<%= link_to 'Back', campsites_path %>
<%= content_for :gmaps_script do %>
  <script type='text/javascript'>
    handler = Gmaps.build('Google');
    handler.buildMap(
      {provider: {}, internal: {id: 'map'}},
      function(){
        markers = handler.addMarkers(<%=raw @map_marker_hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      }
    );
  </script>
<% end %>

